<div class="add-mortgage p-3">
  <h2 class="text-center mb-4">Add new mortgage</h2>
  <div class="form-content">
    <form [formGroup]="mortgageForm" (ngSubmit)="onSubmit()">
      <div class="input-group mb-3">
        <input
          class="form-control"
          placeholder="yyyy-mm-dd"
          name="dp"
          ngbDatepicker
          formControlName="date"
          #d="ngbDatepicker"
          [ngClass]="{ 'is-invalid': submitted && controls['date'].errors }"
        />
        <button class="btn btn-outline-secondary" (click)="d.toggle()" type="button">
          <i class="fa-solid fa-calendar-days"></i>
        </button>
        <div *ngIf="submitted && controls['date'].errors" class="invalid-feedback">
          <div *ngIf="controls['date'].errors['required']">Date is required</div>
        </div>
      </div>
      <div class="form-floating mb-3">
        <input type="text" class="form-control" id="floatingName" placeholder="Name" formControlName="name"
          [ngClass]="{ 'is-invalid': submitted && controls['name'].errors }"
        >
        <label for="floatingName">Name</label>
        <div *ngIf="submitted && controls['name'].errors" class="invalid-feedback">
          <div *ngIf="controls['name'].errors['required']">Name is required</div>
        </div>
      </div>
      <div class="form-floating mb-3">
        <input type="number" min="0" class="form-control" formControlName="amount" id="floatingAmount" placeholder="Amount"
          [ngClass]="{ 'is-invalid': submitted && controls['amount'].errors }"
        >
        <label for="floatingAmount">Amount</label>
        <div *ngIf="submitted && controls['amount'].errors" class="invalid-feedback">
          <div *ngIf="controls['amount'].errors['required']">Amount is required</div>
        </div>
      </div>

      <div class="text-center">
        <button class="btn btn-primary" type="submit">Sumbit</button>
      </div>
    </form>
  </div>
</div>
