<div class="login-form">
  <div class="container text-center col-lg-6 col-sm-12 col-md-8">
    <h1 class="mb-5">Sign Up</h1>
    <form (ngSubmit)="onSubmit()" [formGroup]="registerForm">
      <div class="input-group mb-3">
        <span class="input-group-text" id="register-form-email">Email</span>
        <input type="email" class="form-control" formControlName="email"
          [ngClass]="{ 'is-invalid': submitted && controls['email'].errors }"
        >
        <div *ngIf="submitted && controls['email'].errors" class="invalid-feedback">
          <div *ngIf="controls['email'].errors['required']">Email is required</div>
          <div *ngIf="controls['email'].errors['email']">Email format is not correct</div>
        </div>
      </div>
      <div class="input-group mb-3">
        <span class="input-group-text" id="register-form-name">Display Name</span>
        <input type="text" class="form-control" formControlName="name"
          [ngClass]="{ 'is-invalid': submitted && controls['name'].errors }"
        >
        <div *ngIf="submitted && controls['name'].errors" class="invalid-feedback">
          <div *ngIf="controls['name'].errors['required']">Display Name is required</div>
        </div>
      </div>
      <div class="input-group mb-3">
        <span class="input-group-text" id="register-form-password">Password</span>
        <input [type]="isShowPassword ? 'text' : 'password'" class="form-control" formControlName="password"
          [ngClass]="{ 'is-invalid': submitted && controls['password'].errors }"
        >
        <button class="btn btn-outline-secondary" type="button" (click)="showPassword()">
          <i *ngIf="!isShowPassword" class="fa-regular fa-eye"></i>
          <i *ngIf="isShowPassword" class="fa-regular fa-eye-slash"></i>
        </button>
        <div *ngIf="submitted && controls['password'].errors" class="invalid-feedback">
          <div *ngIf="controls['password'].errors['required']">Password is required</div>
          <div *ngIf="controls['password'].errors['minlength']">Password is at least 6 length</div>
        </div>
      </div>
      <div class="input-group mb-3">
        <span class="input-group-text" id="register-form-password">Confirm Password</span>
        <input [type]="isShowConfirm ? 'text' : 'password'" class="form-control" formControlName="confirmPassword"
          [ngClass]="{ 'is-invalid': submitted && controls['confirmPassword'].errors }"
        >
        <button class="btn btn-outline-secondary" type="button" (click)="showConfirm()">
          <i *ngIf="!isShowConfirm" class="fa-regular fa-eye"></i>
          <i *ngIf="isShowConfirm" class="fa-regular fa-eye-slash"></i>
        </button>
        <div *ngIf="submitted && controls['confirmPassword'].errors" class="invalid-feedback">
          <div *ngIf="controls['confirmPassword'].errors['required']">Confirm Password is required</div>
          <div *ngIf="controls['confirmPassword'].errors['minlength']">Confirm Password is at least 6 length</div>
          <div *ngIf="controls['confirmPassword'].errors['confirmedValidator']">Passowrd should be matched</div>
        </div>
      </div>
      <div class="actions d-flex">
        <a class="btn btn-sm btn-link non-decoration ms-auto" [routerLink]="['/auth/login']">Already have an account?</a>
      </div>
      <button type="submit" class="btn btn-primary">Sign Up</button>
    </form>
  </div>
</div>