<div class="add-income p-3">
  <h2 class="text-center mb-4">Add new income</h2>
  <div class="form-content">
    <form [formGroup]="incomeForm" (ngSubmit)="onSubmit()">
      <div class="input-group mb-3">
        <input
          class="form-control"
          placeholder="yyyy-mm-dd"
          name="dp"
          ngbDatepicker
          formControlName="date"
          #d="ngbDatepicker"
        />
        <button class="btn btn-outline-secondary" (click)="d.toggle()" type="button">
          <i class="fa-solid fa-calendar-days"></i>
        </button>
      </div>
      <div class="form-floating mb-3">
        <input type="text" class="form-control" id="floatingFrom" placeholder="From" formControlName="from">
        <label for="floatingFrom">From</label>
      </div>
      <select class="form-select mb-3" aria-label="Select Type" formControlName="type">
        <option value="">Select Type</option>
        <option value="Personal">Personal</option>
        <option value="Business">Business</option>
      </select>
      <div class="form-floating mb-3">
        <input type="number" min="0" class="form-control" formControlName="amount" id="floatingAmount" placeholder="Amount">
        <label for="floatingAmount">Amount</label>
      </div>

      <div class="text-center">
        <button class="btn btn-primary" type="submit">Sumbit</button>
      </div>
    </form>
  </div>
</div>
