<div class="mortgage">
  <div class="container">
    <div class="mortgage__content d-flex flex-column">
      <h1 class="text-center d-flex mb-0">
        <a class="btn btn-sm btn-link non-decoration my-auto" href="javascript:void(0);" (click)="prvYear()">
          <i class="fa-solid fa-arrow-left"></i>
        </a>
        <span class="mx-auto">{{ currentYear }} Mortgage</span>
        <a class="btn btn-sm btn-link non-decoration my-auto" href="javascript:void(0);" (click)="nextYear()">
          <i class="fa-solid fa-arrow-right"></i>
        </a>
      </h1>
      <div class="mortgage-summary">
        <div class="summary-card card col-lg-6 col-sm-12 mx-auto my-4">
          <div class="card-body">
            <p class="d-flex mb-0">
              <span>Total</span>
              <span class="text-danger ms-auto">{{total | currency:'$'}}</span>
            </p>
            <hr>
            <div >
              <p class="d-flex mb-0" *ngFor="let name of mortgageList">
                <span>{{name | titlecase}}</span>
                <span class="text-danger ms-auto">{{summary[name] | currency:'$'}}</span>
              </p>
            </div>
          </div>
        </div>
      </div>
      <div class="mortgage-list">
        <app-custom-table
          [headers]="headers"
          (add)="add()"
        >
          <ng-container>
            <tbody *ngIf="(list$ | async)">
              <tr *ngFor="let item of (list$ | async) | slice:startIndex:(startIndex+pagePerShow); let i = index">
                <td class="align-middle d-none d-md-table-cell">{{item.date.year + '-' + item.date.month + '-' + item.date.day}}</td>
                <td class="align-middle">{{item.name | titlecase}}</td>
                <td class="align-middle text-danger">{{item.amount | currency:'$'}}</td>
                <td class="text-end col-3">
                  <button class="btn btn-sm btn-outline-danger non-outline" type="button" (click)="delete(item)">
                    <i class="fa-solid fa-trash"></i>
                  </button>
                </td>
              </tr>
            </tbody>
          </ng-container>
        </app-custom-table>
        <div class="d-flex justify-content-between p-2" *ngIf="(list$ | async)?.length">
          <ngb-pagination class="mx-auto" [collectionSize]="(list$ | async)?.length!" [(page)]="currentPage" [pageSize]="pagePerShow">
          </ngb-pagination>
        </div>
      </div>
    </div>
  </div>
</div>
