<div class="add-quick p-3">
  <div class="container-fluid">
    <h2 class="text-center mb-4">Set quick Transaction</h2>
    <div class="form-content">
      <form [formGroup]="quickForm" (ngSubmit)="onSubmit()">
        <div class="form-floating mb-3">
          <input type="text" class="form-control" id="floatingName" placeholder="Name" formControlName="name"
            [ngClass]="{ 'is-invalid': submitted && controls['name'].errors }"
          >
          <label for="floatingName">Name</label>
          <div *ngIf="submitted && controls['name'].errors" class="invalid-feedback">
            <div *ngIf="controls['name'].errors['required']">Name is required</div>
          </div>
        </div>
        <div class="mb-3">
          <select class="form-select" aria-label="Select Category" formControlName="category"
            [ngClass]="{ 'is-invalid': submitted && controls['category'].errors }"
          >
            <option value="null">Select Category</option>
            <option [ngValue]="item" *ngFor="let item of (categoryList$ | async)">{{ item.name }}</option>
          </select>
          <div *ngIf="submitted && controls['category'].errors" class="invalid-feedback">
            <div *ngIf="controls['category'].errors['required']">Category is required</div>
          </div>
        </div>
        <div class="text-center">
          <button class="btn btn-primary" type="submit">Sumbit</button>
        </div>
      </form>
    </div>
  </div>
</div>
