<div class="transactions">
  <div class="container">
    <div class="transactions__content d-flex flex-column">
      <div class="transactions-summary card">
        <div class="card-header align-middle">
          <h4 class="text-center d-flex mb-0">
            <a class="btn btn-sm btn-link non-decoration my-auto" href="javascript:void(0);" (click)="prvMonth()">
              <i class="fa-solid fa-arrow-left"></i>
            </a>
            <span class="mx-auto">{{ currentYear }} {{ mapMonth() }} {{ title }}</span>
            <a class="btn btn-sm btn-link non-decoration my-auto" href="javascript:void(0);" (click)="nextMonth()">
              <i class="fa-solid fa-arrow-right"></i>
            </a>
          </h4>
        </div>
        <div class="transaction-summary__content card-body">
          <div class="transaction-summary__total d-flex">
            <div class="transaction-summary__total--records col-md-6 col-sm-12">
              <p class="d-flex mb-0">
                <span>Total Records</span>
                <span class="ms-auto text-primary">{{ summary.length }}</span>
              </p>
            </div>
            <div class="transaction-summary__total--amount col-md-6 col-sm-12">
              <p class="d-flex mb-0">
                <span>Total Amount</span>
                <span class="ms-auto text-danger">{{ summary.amount | currency:'$' }}</span>
              </p>
            </div>
          </div>
          <hr>
          <div class="col-lg-8 col-sm-12 mx-auto">
            <canvas baseChart
              [type]="'pie'"
              [datasets]="pieChartDatasets"
              [labels]="pieChartLabels"
              [options]="pieChartOptions"
              [plugins]="pieChartPlugins"
              [legend]="pieChartLegend"
              class="mx-auto"
            >
            </canvas>
          </div>
        </div>
      </div>
      <div class="transactions-list">
        <app-base>
          <ng-container>
            <div class="table-content">
              <table class="table table-striped">
                <thead>
                  <tr>
                    <th scope="col" *ngFor="let h of headers" [ngClass]="h.className">{{ h.name }}</th>
                    <th scope="col" class="text-end">
                      <div class="nav-item dropdown">
                        <button class="btn btn-sm btn-primary dropdown-toggle" type="button" data-bs-toggle="dropdown">
                          <i class="fa-solid fa-plus"></i>
                        </button>
                        <ul class="dropdown-menu dropdown-menu-lg-end" aria-labelledby="navbarDropdown">
                          <li><a class="dropdown-item" href="javascript:void(0)" (click)="add()">New Transaction</a></li>
                          <li><hr class="dropdown-divider"></li>
                          <li *ngFor="let item of (quickList$ | async)">
                            <a class="dropdown-item" href="javascript:void(0)" (click)="addQuick(item)">{{item.name}} - {{item.category.name}}</a>
                          </li>
                        </ul>
                      </div>
                    </th>
                  </tr>
                </thead>
                <tbody *ngIf="(list$ | async)">
                  <tr *ngFor="let item of (list$ | async) | slice:startIndex:(startIndex+pagePerShow); let i = index">
                    <td class="align-middle d-none d-md-table-cell">{{item.date.year + '-' + item.date.month + '-' + item.date.day}}</td>
                    <td class="align-middle">{{item.name}}</td>
                    <td class="align-middle text-info d-none d-md-table-cell">
                      <a class="btn btn-link non-decoration text-info px-0" [routerLink]="['/category/'+item.category.id]">{{item.category.name}}</a>
                    </td>
                    <td class="align-middle text-danger">{{item.amount | currency:'$'}}</td>
                    <td class="align-middle text-end">
                      <button class="btn btn-sm btn-outline-primary non-outline" type="button" (click)="detail(item.id)">
                        <i class="fa-regular fa-file-lines"></i>
                      </button>
                    </td>
                  </tr>
                </tbody>
              </table>
              <div class="d-flex justify-content-between p-2" *ngIf="(list$ | async)?.length">
                <ngb-pagination class="mx-auto" [collectionSize]="(list$ | async)?.length!" [(page)]="currentPage" [pageSize]="pagePerShow">
                </ngb-pagination>
              </div>
            </div>
          </ng-container>
        </app-base>
      </div>
    </div>
  </div>
</div>
