<div class="settings pt-5">
  <div class="container d-flex">
    <div class="col-sm-12 col-md-8 col-lg-6 mx-auto">
      <div class="card py-3">
        <h1 class="text-center">Settings</h1>
        <div class="card-body">
          <div class="list-group">
            <a href="javascript:void(0)" (click)="setQuick()" class="list-group-item list-group-item-action">Add Quick Transaction</a>
            <a href="javascript:void(0)" (click)="removeQuick()" class="list-group-item list-group-item-action">Remove Quick Transaction</a>
            <a href="javascript:void(0)" (click)="setQuickMortgage()" class="list-group-item list-group-item-action">Add Quick Mortgage</a>
            <a href="javascript:void(0)" (click)="removeQuickMortgage()" class="list-group-item list-group-item-action">Remove Quick Mortgage</a>
            <a href="javascript:void(0)" (click)="changeDisplay()" class="list-group-item list-group-item-action">Change Display Name</a>
            <a href="javascript:void(0)" (click)="changePassword()" class="list-group-item list-group-item-action">Change Password</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
